body {
  min-height: 100vh;
}

.cpb-hero {
  height: 85vh;
  margin-top: 15vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  background-image: url(../images/carry-hero.png);
  background-position: center;
  background-repeat: no-repeat;
}

.cpb-hero-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 45%;
  gap: 30px;
  padding: 25px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.65);
  box-shadow: 0px 0px 100px rgba(255, 255, 255, 0.8);
}

.cpb-hero-text > h2 {
  font-family: "Italianno", cursive;
  font-weight: 100;
  font-style: normal;
  font-size: 50px;
  letter-spacing: 5%;
}

.cpb-desc {
  letter-spacing: 1px;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  color: #1a1a1a;
  width: 100%;
  padding: 20px;
  line-height: 25px;
  text-align: center;
}

@media (max-width: 768px) {
  .cpb-hero{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin-bottom: 5vh;
  }
  .cpb-hero-text{

    width: 80vw;
    min-height: 60vh;
  }
  .cpb-hero-text > h2{
    font-size: 40px;
    text-align: center;
  }
  .cpb-desc{
    width: 100%;
    min-height: 60%;

    font-size: 12px;
    line-height: normal;
  }
}
/*  */
.cpb-types {
  min-height: 60vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 20px;
  margin: 5vh 0px;
}

.cpb-type {
  width: 25vw;
  height: 60vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  cursor: pointer;
  overflow: hidden;
}

.cpb-type > img {
  /* width: 100%; */
  height: 70%;
}

.cpb-type > h4 {
  width: 100%;
  color: black;
  text-align: center;
  font-weight: 350;
}

.cpb-type-prod-desc {
  width: 100%;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  color: #3b3b3b;
  text-align: center;
  line-height: 20px;
}

@media (max-width: 768px) {

  .cpb-types{
    padding: 10px;
  }
 
  .cpb-type{
    width: 45%;
    height: 60vh;
  }

  .cpb-type > img{
    height: 50%;
  }

  .cpb-type-prod-desc {
    font-size: 10px;
    line-height: normal;
  }
}

.cpb-points {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10vh;
}

.cpb-points > div {
  width: 45%;
  height: 60vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  /* margin: 5vh 0px; */
  padding-bottom: 100px;
}

li {
  text-align: center;
}

@media (max-width: 768px) {

  .cpb-points{
    height: fit-content;
  }
  .cpb-points > div{
    width: 80%;
    height: fit-content;
  }
  
}