body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.thermal-hero {
  height: 85vh;
  margin-top: 15vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  background-image: url(../images/thermal-hero.png);
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 20vh;
}

.thermal-roll-hero-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 45%;
  gap: 30px;
  padding: 25px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.65);
  box-shadow: 0px 0px 100px rgba(255, 255, 255, 0.8);
}

.thermal-roll-hero-text > h2 {
  font-family: "Italianno", cursive;
  font-weight: 100;
  font-style: normal;
  font-size: 60px;
  letter-spacing: 5%;
}

.thermal-roll-desc {
  letter-spacing: 1px;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  color: #1a1a1a;
  width: 100%;
  padding: 20px;
  line-height: 25px;
  text-align: center;
}

@media (max-width: 768px) {
  .thermal-hero{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5vh;
  }
  .thermal-roll-hero-text{

    width: 80vw;
    min-height: 60vh;
  }
  .thermal-roll-hero-text > h2{
    font-size: 40px;
    text-align: center;
  }
  .thermal-roll-desc{
    width: 100%;
    min-height: 60%;

    font-size: 12px;
    line-height: normal;
  }
}

h3 {
  font-family: "Istok Web", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
  padding: 0px 20px;
  margin-top: 10vh;
  width: 40vw;
  text-align: center;
}


h4 {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  color: #3b3b3b;
  width: 40vw;
  text-align: center;
  padding: 10px 20px;
  /* text-align: center; */
}

@media (max-width: 768px) {
  h3{
    font-size: 25px;
    margin-top: 0vh;

    width: 80%;
  }
  h4{
    font-size: 15px;
    margin-top: 0vh;

    width: 80%;
  }
}


.thermal-roll-types {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 20px;
  margin: 20px 0px;
}


.thermal-type {
  width: 25vw;
  height: 50vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  cursor: pointer;
  overflow: hidden;
}


.thermal-type > img {
  /* width: 100%; */
  height: 70%;
}

.thermal-type > h4 {
  width: 100%;
  color: black;
  text-align: center;
}

.thermal-type-prod-desc {
  width: 100%;
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  color: #3b3b3b;
  text-align: center;
}

@media (max-width: 768px) {

  .thermal-roll-types{

    padding: 10px;
  }
 
  .thermal-type{
    width: 45%;
  }

  .thermal-type > img{
    height: 50%;
  }

  .thermal-type-prod-desc {
    font-size: 12px;
  }
}

.thermal-points {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10vh;
}

ul {
  padding: 0px 50px;
  margin-top: 2vh;
  width: 100%;
}

li {
  margin-top: 2vh;
}

.thermal-points > div {
  width: 45%;
  height: 60vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  margin: 5vh 0px;
  padding-bottom: 100px;
}

.why-papyrex{
    height: 100%;
    border-left: 1px solid #1a1a1a;
}

@media (max-width: 768px) {
  .thermal-points{
    display: flex;
    width: 100vw;
    margin-bottom: 10vh;
  }
  .thermal-points>div{

    width: 80%;
    min-height: 60vh;
  }
  .why-papyrex{
    min-height: 100%;
    border: none;
  }
  #footer{
    display: none;
  }
}